.botao{
    background-color: #B17457;
    color: white;
    padding: 25px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 20px;
}

.botao:hover{
    background-color: hsl(19, 34%, 36%);
    /* cursor: not-allowed; */
}
